<ion-view view-title="Account">
  <ion-content>
  	
    <div id="test" class="money">
    	<!-- <div class="money1" style="height: 60%">已经买卡：2000元</div> -->
    	<div id="moeny1" class="moeny1" style="height: 60%">已卖卡：2000元</div>
    	<div style="height: 40%" class="money4">
    		<div class="money2" >剩余额度：1000元</div>
    		<div class="money3">总额度：3000元</div>
    	</div>
    </div>
    
    <div class="list list-inset"><span>消费类型：</span>
    <select id="account_type" class="account_type">
    	<option value="all">全部</option>
    	<option value="type_1">消费</option>
    	<option value="type_2">充值</option>
    	<option value="type_3">开卡</option>
    </select>
        <div class="item">
          Raiders of the Lost Ark
        </div>
        <div class="item">
          Temple of Doom
        </div>
        <div class="item">
          Last Crusade
        </div>
        <div class="item">
          Kingdom of the Crystal Skull
        </div>
    </div>
  </ion-content>
</ion-view>
