<ion-view view-title="Account">
  <ion-content class="bgClass">
	<div class="charInfo">
		<div class="showType">消费</div>

	   <div class="list">
		  <label class="item item-input al">
		    <span class="input-label">卡:</span>
		    <!-- <input id="other_tel" type="text" readonly="ture" /> -->
		    <span>{{imageData}}</span>
		  </label>
		  <br>
		  <label class="item item-input al">
		    <span class="input-label">应收金额:</span>

		    <input id="xiaofemoney" size="20" type="text"  style="color:#ff0000;font-family:黑体;">
		  </label>
		  
		</div>
	  	<div class="powerbutton">
	  	   <!-- <a  href="#/tab/returnMess"> -->
		  <button id="xiaofefrom" href="#/tab/returnMess" class="button button-positive" style="width: 100%">确定</button>
		  <!-- </a> -->
	  	</div>
   </div>
  </ion-content>
</ion-view>
