<ion-view view-title="Dashboard">

  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">
      <div id="zkmoney"  class="zkmoney">cccc</div>
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        <div>
          <ion-item  item="item" ng-controller="TestExampleController" ng-click="scanBarcode()" class="item-remove-animate" style="text-align: center;">
              收款
          </ion-item>
        </div>
        <ion-item  item="item" ng-controller="ExampleController" ng-click="scanBarcode()" class="item-remove-animate" style="text-align: center;">
            充值/开卡
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
